.overview-preview {
  margin: 0 auto;
  max-width: 1170px;

  &__parallax {
    @include _768 {
      padding: 100px 0 0;
    }

    @include _992 {
      padding: 200px 0 0;
    }
  }

  &__caption {
    background: transparent;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    padding: 100px 15px;

    @include _768 {
      padding: 100px 60px;
    }
  }

  &__desc {
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 20px;
    text-align: center;

    @include _768 {
      text-align: left;
      font-size: 24px;
    }
  }

  &__heading {
    color: #fff;
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
    text-align: center;
    font-weight: bold;

    @include _768 {
      text-align: left;
      font-size: 30px;
    }
  }
}